sentence_transformers
langchain-huggingface
PyPDF2
google-generativeai
python-dotenv
langchain
langchain-core 
langchain-community 
langchain-google-genai
langchain-ollama
uvicorn
psycopg2
python-docx
pgvector
python-multipart
python-dotenv
sqlalchemy
